<ion-header>
  <ion-toolbar>
    <ion-title>Bridge</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let value of this.bridge | async | keyvalue">
      <ion-label>
          {{ value.key }}: {{ value.value | json }} 
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="deleteBridge()">Delete Bridge</ion-button>
</ion-content>
