<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Name: Hue Clone
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Developer: Noah Lambert
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Version: 1.0.0
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Support: n.lambert2@web.de
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
