ion-range {
    padding: 0 20px!important;
    --bar-height: 15px;
    --bar-border-radius: 12px;
    --knob-background: #ddd;
    --knob-size: 32px;
    --knob-box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    --bar-background-active: rgba(255, 255, 255, 0.4);
}

ion-range::part(bar) {
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}

ion-range.dimmable {
    --bar-background: linear-gradient(to right, #64642d, #ffff77);
}
ion-range.color-temp {

    --bar-background: linear-gradient(to right, #99ffff, #ffff77);
}