<ion-card [style.background]="this.ctToHex(light.state.ct, (light.state.on && light.state.reachable))">
  <ion-grid>
    <ion-row>
      <ion-col size="9" (click)="editEvent.emit( [ light, id ] )">
        <h3 class="ion-float-left">{{ light.name }}</h3>
        <ion-text *ngIf="!light.state.reachable">Not reachable</ion-text>
      </ion-col>
      <ion-col>
        <ion-toggle 
          checked="{{ light.state.on }}"
          disabled="{{ !light.state.reachable}}"
          (ionFocus)="this.allowedEvent.emit(false)"
          (ionChange)="changeLight(id, 'on', $event.detail.checked)"
          class="ion-float-right">
        </ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="light.state.on && light.state.reachable">
    <ion-range 
      min="1" 
      max="255" 
      step="1" 
      value="{{ light.state.bri }}" 
      (ionFocus)="this.allowedEvent.emit(false)"
      debounce="500"
      (ionChange)="changeLight(id, 'bri' ,$event.srcElement.value)"
      class="dimmable">
    </ion-range>
    <ion-range 
      min="{{ light.capabilities.control.ct.min }}" 
      max="{{ light.capabilities.control.ct.max }}" 
      step="1" 
      value="{{ light.state.ct }}"
      (ionFocus)="this.allowedEvent.emit(false)"
      debounce="500"
      (ionChange)="changeLight(id, 'ct' ,$event.srcElement.value)"
      class="color-temp">
    </ion-range>
  </div>
</ion-card>